@import "colors.scss";

.gallery_section {
  background-color: $Header_Btn_color;
  padding: 20px 0;
  min-height: 550px;
  .container {
    width: 70%;
    margin: auto;
    text-align: center;
    h3 {
      margin: 10px auto;
      font-weight: 400;
      color: white;
    }
    .custom-overlay__caption {
      background-color: rgba(197, 197, 197, 0.7);
      max-height: 240px;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      width: 100%;
      color: white;
      padding: 0 0 10px 5px;
      font-size: 90%;
    }
  }
}
