@import "colors";

.Nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  .Nav-Logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Nav-Items {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // navbar top section start
    .Nav-Item-top {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      align-items: center;
      //address sectino
      i {
        color: $Header_color;
        font-size: 1.2rem;
      }
      .title {
        color: $Header_color;
        font-weight: 500;
        font-size: 0.85rem;
      }
      // language section
      .languageDropDownLNN {
        display: flex;
        justify-content: center;
        .hovertool {
          text-align: center;
          cursor: pointer;
          &:hover {
            .hovertooltiptext {
              display: block;
            }
          }
        }
        .hovertooltiptext {
          display: none;
          padding: 0.3rem;
          border-radius: 10px;
          background-color: gray;
          color: white;
          position: absolute;
        }
      }
      // language section end
      // Book Now Btn
      .BookNow-btn {
        padding: 10px 20px;
        color: white;
        background-color: $Header_Btn_color;
        border: none;
      }
    }
    // navbar top section end

    // navbar bottom Section links start
    .Nav-Item-bottom {
      display: flex;
      .NavList-Main-items {
        display: flex;
        gap: 20px;
        flex-direction: row;
        li {
          a {
            color: gray;
            font-weight: 500;
            position: relative;
            &:hover {
              color: $Header_color;
            }
            &:after {
              content: "";
              position: absolute;
              background-color: $Header_color;
              height: 2px;
              width: 0%;
              left: 0;
              bottom: -4px;
            }
            &:hover:after {
              width: 100%;
              transition-duration: 0.5s;
            }
          }
        }

        .NavList-sub-items {
          position: absolute;
          z-index: 9999;
          background-color: rgb(247, 247, 247);
          border-radius: 10px;
          transition-duration: 0.8s;
        }
      }
    }
    // navbar bottom Section links end
  }
}
